<!doctype html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div class="narrow-form">
                    <h1>Login</h1>
                    <form method="post">
                        <input type="text" name="username">
                        <input type="password" name="password">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Login</button>
                    </form>
                </div>
        {% endblock content %}
    </main>
</div>
</body>
</html>