<!doctype html>
<html>
   <head>
      <title>Signup</title>
   </head>
   <body>
      {% block content %}
      <main>
         <div class="narrow-form">
            <h1>Signup</h1>
            <form method="post">
               <input type="text" name="username">
               <input type="password" name="password1"> 
               <input type="password" name="password2">
               {% csrf_token %}
               {{ form.as_p }}
               <button>Signup</button>
            </form>
         </div>
         {% endblock content %}
      </main>
      </div>
   </body>
</html>