<!doctype html>
<html>
    <head>
        <title>Tracker</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div class="narrow-form">
                    <h1>Create a new task</h1>
                    <form method="post">
                        <input type="text" name="name">
                        <input type="text" name="start_date">
                        <input type="text" name="due_date">
                        <select name="projects">
                            <select name ="assignee">
                                <select name="members">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button>Create</button>
                                </form>
                            </div>
        {% endblock content %}
    </body>
</html>