<!doctype html>
<html>
    <head>
        <title>Tracker</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div class="narrow-form">
                    <h1>Create a new project</h1>
                    <form method="post">
                        <input type="text" name="name">
                        <textarea name-"description">
                            <select name="members">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button>Create</button>
                            </form>
                        </div>
        {% endblock content %}
    </body>
</html>