{% load markdownify %}
{{'Some *test* [link](#)'|markdownify }}
<!doctype html>
<html>
    <head>
        <title>Tracker</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>{{ project.name }}</h1>
                    <p>This project has no task</p>
                    {{ project.description|markdownify }}
                    <h2>Tasks</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due Date</th>
                                <th>is completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tasks in project.item.all %}
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        {% endblock content %}
    </div>
</body>
</html>