<!doctype>
<html>
    <head>
        <title>Tracker</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>My Projects</h1>
                    <p>
                        <a href="{% url 'list_project_create' %}">Create a new project</a>
                    </p>
                    <p>You are not assigned to any projects</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in project_list %}
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a href="{% url 'show_project_detail' list.id %}">{{ project.name }}</a>
                                    </td>
                                    <td> {{ project.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        {% endblock content %}
    </main>
</div>
</body>
</html>



